{% extends "base.html" %}

{% block content %}

<h2 class="shop-title"
    data-key="shopproducts">

    Shop Products

</h2>

<div class="product-grid">

{% for p in products %}

<div class="card product-card">

    <!-- PRODUCT IMAGE -->

    <div class="image-wrapper">

        <img src="{{ p.image }}"
             class="product-image">

    </div>

    <!-- PRODUCT NAME -->

    <h3 class="product-name"
        data-en="{{ p.name_en }}"
        data-hi="{{ p.name_hi }}">

        {{ p.name_en }}

    </h3>

    <!-- PRICE -->

    <p class="product-price">

        ₹{{ p.price }}

    </p>

    <!-- BUTTONS -->

    <div class="product-buttons">

        <!-- ADD TO CART -->

        <a href="/add_to_cart?product={{ p.name_en }}&price={{ p.price }}&qty=1">

            <button data-key="addtocart">

                Add to Cart

            </button>

        </a>

        <!-- BUY NOW -->

        <a href="/buy_now?product={{ p.name_en }}&price={{ p.price }}">

            <button class="buy-btn"
                    data-key="buynow">

                Buy Now

            </button>

        </a>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}